// Contextual colors
$bg_color:    #FCF7F4;
$text_color:  #494949;

// True colors
$white: #FFFFFF;

// Named colors
$bison: #C7BAA9;
$linen: #F8ECE0;
$olive: #577F67;
$red:   #CE3D39;
$grey:  #999999;