a,
a:visited {
  color: $olive;
  font-weight: 600
}

a:hover {
  text-decoration: none
}

a.btn {
  color: $white;
  text-decoration: none
}

.admin_top_bar {
  align-items: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.admin_table {
  border: 1px solid $olive;
  border-collapse: collapse;
  margin-top: 30px;
  width: 100%;

  td, th {
    border: 1px solid $olive;
    border-width: 1px 0px 1px 0px
  }

  th {
    height: 50px;
    padding: 0px 10px;
    text-align: left
  }

  td {
    padding: 10px
  }

  img {
    display: block
  }

  tr:nth-of-type(2n+1) {
    background-color: $white
  }

  .pic_cell {
    width: 80px
  }

  .spouse_name {
    font-size: 14px
  }
}

.pagination_row {
  display: flex;
  font-weight: 600;
  justify-content: center;
  padding: 20px 0px;
  width: 100%;
  
  nav.pagination {
    a, a:hover, a:visited {
      color: $olive
    }
  }
}

a.back_link {
  align-items: center;
  color: $olive;
  display: flex;
  flex-direction: row;
  font-size: 16px !important;
  margin-top: 30px;
  text-decoration: none;

  &:hover {
    color: $bison
  }

  i.material-icons {
    font-size: 16px
  }

  span {
    text-decoration: underline
  }
}

.admin-show {
  width: 100%;
  
  label {
    color: $bison;
    font-weight: 400
  }
  p {
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px
  }
}