.container {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 70px;
  width: 100%
}

.person_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 1200px;
  width: 100%;

  img {
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 $bison;
  }

  .person_header_info {
    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 $bison;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: fit-content;
    margin-left: 30px;
    padding: 20px 30px 10px;

    h1 {
      color: $olive;
      font-family: "Trykker";
      font-weight: 100
    }

    .nee {
      font-family: "Trykker";
      font-weight: 100
    }

    .date {
      font-size: 25px;
      font-weight: 100
    }

    .places {
      color: $olive;
      font-size: 20px;
      font-weight: 100;
      margin-top: 20px;
      text-transform: uppercase;

      .place {
        margin-right: 10px;
        margin-left: 10px;

        &:first-of-type {
          margin-left: 0px
        }
      }
    }
  }
}

.biography,
.photos {
  background-color: $white;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 $bison;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  max-width: 1200px;
  padding: 10px 20px;
  width: 100%;

  h2 {
    color: $olive;
    font-family: "Trykker";
    font-size: 25px;
    font-weight: 100;
    margin-bottom: 20px
  }

  p {
    margin-top: 0px
  }
}

.slideshow {
  display: flex;
  flex-direction: row;
  margin-left: -10px;
  padding-left: 10px;
  overflow-x: scroll;

  &::-webkit-scrollbar {
    width: 0px
  }

  .result_card {
    margin-bottom: 10px
  }
}