.search_input {
  align-items: stretch;
  border-radius: 8px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: -30px;
  

  input[type="text"] {
    background: $white;
    border: 0px solid $white;
    border-radius: 8px 0px 0px 8px;
    color: $text_color;
    font-family: "Montserrat";
    font-size: 18px;
    min-width: 400px;
    padding: 20px 0px 20px 30px;

    &::-webkit-input-placeholder,
    &::placeholder {
      color: $bison
    }
  }

  .search_btn {
    align-items: center;
    background-color: $white;
    border-radius: 0px 8px 8px 0px;
    display: flex;
    justify-content: center;
    padding: 0px 20px;

    a {
      color: $olive;
      display: flex;
      justify-content: center;
      text-decoration: none;

      i {
        font-size: 30px
      }
    }
  }
}