<% content_for :meta_title, "À tous les miens — Évènements" %>
<div class="section search_header">
  <h1>Évènements</h1>
  <%= render "pages/search_input", value: @keywords %>
</div>
<!-- *** Évènements *** -->
<div class="pagination_row">
  <%= paginate @events %>
</div>
<div class="section search_category">
  <div class="search_results">
    <% @events.each do |event| %>
      <%= render "events/card", event: event, link: "" %>
    <% end %>
  </div>
</div>
<div class="pagination_row">
  <%= paginate @events %>
</div>