<% content_for :meta_title, "À tous les miens — Résultats de la recherche (évènements)" %>
<div class="section search_header">
  <h1>Résultats de la recherche</h1>
  <%= render "pages/search_input", value: @keywords %>
</div>
<!-- *** EVENEMENTS *** -->
<div class="section search_category">
  <div class="search_category_header">
    <i class="material-icons">event</i>
    <h2>Évènements</h2>
  </div>
  <div class="search_results">
    <% @events.each do |event| %>
      <%= render "events/card", event: event %>
    <% end %>
  </div>
</div>
<div class="pagination_row">
  <%= paginate @events %>
</div>