<div class="admin_nav_menu">
  <div>
    <p class="nav_title">Admin</p>
    <%= link_to admin_documents_path, class: "admin_nav_item" do %>
        <i class="material-icons">text_snippet</i>
        <span>Documents</span>
    <% end %>
    <%= link_to admin_people_path, class: "admin_nav_item" do %>
        <i class="material-icons">people</i>
        <span>Personnes</span>
    <% end %>
  </div>
  <div>
    <%= link_to root_path, class: "admin_nav_item" do %>
      <i class="material-icons">arrow_back_ios</i>
      <span>Retour au site</span>
    <% end %>
  </div>
</div>