<div class="search_input">
  <input type="text" placeholder="Trouver un document ou une personne...">
  </input>
  <div class="search_btn">
    <a href="#">
      <i class="material-icons">search</i>
    </a>
  </div>
</div>