<!-- *** PERSONNES *** -->
<div class="section search_category">
  <div class="search_category_header">
    <i class="material-icons">people</i>
    <h2>Personnes</h2>
  </div>
  <div class="search_results">
    <% people.each do |person| %>
      <%= render "people/card", person: person, link: "" %>
    <% end %>
  </div>
  <% if count > 15 %>
    <%= link_to search_people_path(keywords: @keywords) do %>
      Voir les <%= count %> résultats
    <% end %>
  <% end %>
</div>