<div class="section landing_header">
  <h1>Contenu privé</h1>
  <p>Le contenu auquel vous essayez d'accéder est privé. Veuillez <%= link_to new_user_session_path do %>vous connecter<% end %> avec un compte disposant de l'accès au contenu privé.</p>
  <%= render "pages/search_input" %>
</div>