<% content_for :meta_title, "À tous les miens — Lieux" %>
<div class="section search_header">
  <h1>Lieux</h1>
  <%= render "pages/search_input", value: @keywords %>
</div>
<!-- *** Lieux *** -->
<div class="pagination_row">
  <%= paginate @locations %>
</div>
<div class="section search_category">
  <div class="search_results">
    <% @locations.each do |location| %>
      <%= render "locations/card", location: location, link: "" %>
    <% end %>
  </div>
</div>
<div class="pagination_row">
  <%= paginate @locations %>
</div>